numpy>=1.17
grpcio>=1.40.0
grpcio-tools>=1.40.0
protobuf>=3.17.0
sounddevice>=0.4.1
soundfile>=0.10.3
gradio>=3.0.0
encodec>=0.1.1
torch>=1.8.0
torchaudio>=0.8.0
flask>=2.0.0
huggingface_hub>=0.10.0
requests
# Added for HuBERT and Speaker Embedding
transformers>=4.0.0
speechbrain>=1.0.0
joblib>=1.0.0
scikit-learn>=1.0.0 